<h1 mat-dialog-title>
    ADD RE-PAYMENT PERIOD TO BANK</h1>
<div mat-dialog-content class="mat-typography">
    <div class="card">

        <form (ngSubmit)="f.form.valid && onSubmit(data)" name="myform" #f="ngForm" novalidate>

            <div class="card-body">
                <div class="table-modelponsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>BANK NAME</th>
                                <th>DISBURSED AMOUNT</th>
                                <th>PRODUCT</th>
                                <th>ROI</th>
                                <th>PF</th>
                                <th>TENURE</th>
                                <th>INSURANCE</th>
                                <th>ADD</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>

                                <td>
                                    {{data.bankname}}
                                </td>

                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="data.disbusamount" name="disbusamount">
                                </td>
                                <td>
                                    <!-- <label><b>PRODUCT</b></label><br> -->
                                    <select class="form-control" name="product" [(ngModel)]="data.product" #product="ngModel">
                              <option value="" selected>Select option</option>
                              <option value="NORMAL">NORMAL</option>
                              <option value="BANKING">BANKING</option>
                              <option value="ITR PROGRAM">ITR PROGRAM</option>
                              <option value="SWIPPING">SWIPPING</option>
                              <option value="GST RETURN">GST RETURN</option>

                           </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="data.roi" name="roi">
                                </td>
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="data.pf" name="pf">
                                </td>

                                <td>

                                    <select class="form-control" name="idtopup" [(ngModel)]="data.idtopup" (click)="getperiod(data.idtopup)">
                              <option value="" selected>Select your option</option>
                              <option *ngFor="let item of fetchData2" value="{{item.idtopup}}">
                                 {{item.period}}
                              </option>
                           </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="data.insurance" name="insurance">
                                </td>
                                <td>
                                    <button type="submit" [disabled]="!f.form.valid" class="btn btn-success">SAVE</button>
                                    <!-- <button type="text" class="btn btn-success" (click)="onchange(pro);">APPROVE</button> -->
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>

</div>





<style>
    .table {
        flex: 5 1 auto;
        padding: 6.25rem !important;
        font-size: medium !important;
    }
    
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>