<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form (ngSubmit)="checkcase(model);" #f="ngForm" novalidate>
                <div class="card-header">
                    <strong>CHECK CASE AND BANK</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- <label for="bankname">ENTER CUSTOMER'S MOBILE AADHAAAR OR PAN NUMBER</label> -->
                            <input class="form-control" name="checkno" [(ngModel)]="model.checkno" required #checkno="ngModel" placeholder="Mobile or Aadhaar or Pan Number or Company Name">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary ">Check</button>
                        </div>
                    </div>
                    <br />
                </div>
            </form>
            <div class="card-header">
                <strong>CUSTOMER DETAILS</strong>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>CUSTOMER NAME</th>
                            <td> {{fetchData.name}}</td>
                            <th>COMPANY NAME</th>
                            <td> {{fetchData.cname}}</td>
                        </tr>
                        <tr>
                            <th> CONTACT NUMBER</th>
                            <td> {{fetchData.mobile}}</td>
                            <th>WHOSE CASE</th>
                            <td> {{fetchData.whosecase}}</td>
                        </tr>
                        <tr>
                            <th>EXECUTIVE</th>
                            <td>{{fetchData.executivename}}</td>
                            <th>AADHAR NO</th>
                            <td> {{fetchData.aadharno}}</td>
                        </tr>
                        <tr>
                            <th>PAN NO</th>
                            <td> {{fetchData.panno}}</td>
                            <th>LOAN STATUS</th>
                            <td> {{fetchData.displaystatus_orgname}}</td>
                        </tr>
                        <tr>
                            <th>COMPANY KYC</th>
                            <td> {{fetchData.companykyc_orgname}}</td>
                            <th>CUSTOMER KYC</th>
                            <td> {{fetchData.customerkyc_orgname}}</td>
                        </tr>
                        <tr>
                            <th>ITR</th>
                            <td> {{fetchData.itr}}</td>
                            <th>BANK STATEMENT</th>
                            <td> {{fetchData.bankstatement_orgname}}</td>
                        </tr>
                        <tr>
                            <th>GST RETURNS</th>
                            <td> {{fetchData. gstandreturns_orgname}}</td>
                            <th>LOAN SANCTION LETTER</th>
                            <td> {{fetchData.loanstatement_orgname}}</td>
                        </tr>
                        <tr>
                            <th>APPLICATION DETAILS</th>
                            <td> {{fetchData.applicationDetails_orgname}}</td>
                            <th>COMMENTS</th>
                            <td> {{fetchData.comment}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-center"> <a mat-raised-button color="warn" [disabled]="fetchData.idcustomer===''" target="_blank" (click)="editcustomer(fetchData.idcustomer)"> EDIT
                            </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-header">
                <strong>Request File Download </strong>
            </div>
            <div class="card-body">
                <table class="table=responsive">
                    <tr>
                        <th class="text-center">COMPANY KYC</th>
                        <th class="text-center">CUSTOMER KYC</th>
                        <th class="text-center">BANK STATEMENT</th>
                        <th class="text-center">IT RETURNS</th>
                        <th class="text-center">GST RETURNS</th>
                        <th class="text-center">LOAN SANCTION LETTER</th>
                        <th class="text-center">APPLICATION DETAILS</th>
                        <th class="text-center">ALL FILES</th>
                    </tr>
                    <tr>
                        <td>
                            <a *ngIf="fetchData.companykyc === null || fetchData.companykyc === undefined || fetchData.companykyc ==='admin.png'; else comno; " class="nav-link badge-danger" role="button" title="COMPANY KYC NOT AVAILABLE ">NOT AVAILABLE </a>
                            <ng-template #comno>
                                <a class="nav-link badge-success" (click)="request(fetchData.companykyc_orgname,fetchData)" role="button" title="COMPANY KYC">REQUEST AVAILABLE </a>
                            </ng-template>
                        </td>
                        <td>
                            <a *ngIf="fetchData.customerkyc ===null || fetchData.customerkyc === undefined || fetchData.customerkyc ==='admin.png'; else cusno; " class="nav-link badge-danger" role="button" title="CUSTOMER KYC NOT AVAILABLE ">NOT AVAILABLE</a>
                            <ng-template #cusno>
                                <a class="nav-link badge-success" (click)="request(fetchData.customerkyc_orgname,fetchData)" role="button" title="CUSTOMER KYC">REQUEST AVAILABLE </a>
                            </ng-template>
                        </td>
                        <td>
                            <a *ngIf="fetchData.bankstatement === null || fetchData.bankstatement === undefined || fetchData.bankstatement ==='admin.png'; else bstno; " class="nav-link badge-danger" role="button" title="BANK STATEMENT NOT AVAILABLE ">NOT AVAILABLE </a>
                            <ng-template #bstno>
                                <a class="nav-link badge-success" (click)="request(fetchData.bankstatement_orgname,fetchData)" role="button" title="BANK STATEMENT">REQUEST AVAILABLE </a>
                            </ng-template>
                        </td>
                        <td>
                            <a *ngIf="fetchData.itr === null || fetchData.itr === undefined || fetchData.itr ==='admin.png'; else itrno; " class="nav-link badge-danger" role="button" title="IT RETURNS NOT AVAILABLE ">NOT AVAILABLE </a>
                            <ng-template #itrno>
                                <a class="nav-link badge-success" (click)="request(fetchData.itr_orgname,fetchData)" role="button" title="IT RETURNS">REQUEST AVAILABLE</a>
                            </ng-template>
                        </td>
                        <td>
                            <a *ngIf="fetchData.gstandreturns ===null || fetchData.gstandreturns === undefined || fetchData.gstandreturns ==='admin.png'; else gstno; " class="nav-link badge-danger" role="button" title="GST RETURNS NOT AVAILABLE ">NOT AVAILABLE </a>
                            <ng-template #gstno>
                                <a class="nav-link badge-success" (click)="request(fetchData.gstandreturns_orgname,fetchData)" role="button" title="GST RETURNS">REQUEST AVAILABLE </a>
                            </ng-template>
                        </td>
                        <td>
                            <a *ngIf="fetchData.loanstatement ===null || fetchData.loanstatement === undefined || fetchData.loanstatement ==='admin.png'; else loanno; " class="nav-link badge-danger" role="button" title="LOAN SANCTION LETTER NOT AVAILABLE ">NOT AVAILABLE
                                Letter</a>
                            <ng-template #loanno>
                                <a class="nav-link badge-success" (click)="request(fetchData.loanstatement_orgname,fetchData)" role="button" title="LOAN SANCTION LETTER">REQUEST AVAILABLE</a>
                            </ng-template>
                        </td>
                        <td>
                            <a *ngIf="fetchData.applicationDetails ===null || fetchData.applicationDetails === undefined || fetchData.applicationDetails ==='admin.png'; else appno; " class="nav-link badge-danger" role="button" title="CUSTOMER DETAILS NOT AVAILABLE ">NOT AVAILABLE</a>
                            <ng-template #appno>
                                <a class="nav-link badge-success" (click)="request(fetchData.applicationDetails_orgname,fetchData)" role="button" title="CUSTOMER  DETAILS">REQUEST AVAILABLE </a>
                            </ng-template>
                        </td>
                        <td>
                            <a *ngIf="(fetchData.companykyc === null || fetchData.companykyc === undefined || fetchData.companykyc ==='admin.png')
                            || (fetchData.customerkyc ===null || fetchData.customerkyc === undefined || fetchData.customerkyc ==='admin.png') 
                            || (fetchData.bankstatement ===null || fetchData.bankstatement === undefined || fetchData.bankstatement ==='admin.png')
                            || (fetchData.itr ===null || fetchData.itr === undefined || fetchData.itr ==='admin.png')
                            || (fetchData.gstandreturns ===null || fetchData.gstandreturns === undefined || fetchData.gstandreturns ==='admin.png')
                            || (fetchData.loanstatement ===null || fetchData.loanstatement === undefined || fetchData.loanstatement ==='admin.png')
                            || (fetchData.applicationDetails ===null || fetchData.applicationDetails === undefined || fetchData.applicationDetails ==='admin.png');
                             else noallfile; " class="nav-link badge-danger" role="button" title="All File NOT AVAILABLE">NOT AVAILABLE</a>
                            <ng-template #noallfile>
                                <a class="nav-link badge-success" (click)="request(AllFiles,fetchData)" role="button" title="All Files">All Files</a>
                            </ng-template>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-header">
                <strong>APPLIED BANK DETAILS</strong>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sl.No</th>
                                <th>APPLIED DATE</th>
                                <th>BANK NAME</th>
                                <th>BANK PERSON</th>
                                <th>LOANTYPE</th>
                                <th>AMOUNT</th>
                                <th>PRODUCT</th>
                                <th>STATUS</th>
                                <th>COMMENTS</th>
                                <th>EDIT STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let pro of fetchData1;let i=index'>
                                <td>
                                    {{i+1}}
                                </td>
                                <td>
                                    {{pro.createddate | date:'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{pro.bankname}}
                                </td>
                                <td>
                                    {{pro.vendor}}
                                </td>
                                <td>
                                    {{pro.loantype}}
                                </td>
                                <td>
                                    {{pro.amount}}
                                </td>
                                <td>
                                    {{pro.product}}
                                </td>
                                <td>
                                    {{pro.sstatus}}
                                </td>
                                <td>
                                    {{pro.comment}}
                                </td>
                                <td colspan="4" class="text-center"> <button mat-raised-button color="warn" (click)="openDialog(pro)"> EDIT STATUS
                            </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
    
    mat-spinner {
        margin: auto;
    }
</style>