<app-header [fixed]="true" [navbarBrandFull]="{src: 'assets/images/logo1.png', width: 130, height: 80, alt: 'Mindfin Logo'}" [navbarBrandMinimized]="{src: 'assets/images/head.png', width: 50, height: 50, alt: 'mindfin Logo'}" [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item  d-md-down-none " *ngIf="abc!=='GUEST'">
            <a class="nav-link " role="button " [routerLink]="[ '/notification/empnotification'] " title="Notifications "><img src="/assets/images/viewnoti.png" alt="notification" height="40px" width="40px">
                <span *ngIf="fetchData12 !==0 " class="badge badge-danger ">{{fetchData12}}</span>
            </a>
        </li>
        <li class="nav-item  d-md-down-none " *ngIf="abc==='SUPERADMIN'" dropdown placement="bottom right ">
            <a class="nav-link " title="Status " data-toggle="dropdown " href="# " role="button " aria-haspopup="true " aria-expanded="false " dropdownToggle (click)="false ">
                <img src="/assets/images/phone.png " class="Status " height="40px " width="40px " />
                <span *ngIf="fetchData30 !==0 " class="badge badge-danger ">{{fetchData30}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right " *dropdownMenu aria-labelledby="simple-dropdown ">
                <div class="dropdown-header text-center "><strong>Status</strong></div>
                <a *ngIf="abc==='SUPERADMIN'" class="dropdown-item " role="button " [routerLink]="[ '/reports/admindata'] " title="Required List ">
                    <div class="float-left ">
                        <img src="/assets/images/required.png " alt="required " height="25px " width="25px ">
                    </div>
                    Required
                    <span *ngIf="fetchData22 !==0 " class="badge badge-danger ">{{fetchData22}}</span>
                </a>
                <a *ngIf="abc==='SUPERADMIN'" class="dropdown-item " role="button " [routerLink]="[ '/reports/notopendatalist'] " title="Executive Not Opened list ">
                    <div class="float-left ">
                        <img src="/assets/images/nores.png " alt="not opened " height="25px " width="25px ">
                    </div>
                    Not Opened
                    <span *ngIf="fetchData23 !==0 " class="badge badge-danger ">{{fetchData23}}</span>
                </a>
                <a *ngIf="abc==='SUPERADMIN'" class="dropdown-item " role="button " [routerLink]="[ '/reports/nofallowup'] " title="No Fallow up ">
                    <div class="float-left ">
                        <img src="/assets/images/nofollow.png " alt="No Folloe Up" height="25px " width="25px ">
                    </div>
                    No Follow up
                    <span *ngIf="fetchData29 !==0 " class="badge badge-danger ">{{fetchData29}}</span>
                </a>
                <a *ngIf="abc==='SUPERADMIN'" class="dropdown-item " role="button " [routerLink]="[ '/reports/filepickeddatalist'] " title="File Picked ">
                    <div class="float-left ">
                        <img src="/assets/images/filepicked.png " alt="file pick " height="25px " width="25px ">
                    </div>
                    File Picked
                    <span *ngIf="fetchData29 !==0 " class="badge badge-danger ">{{fetchData29}}</span>
                </a>
                <a *ngIf="abc==='SUPERADMIN'" class="dropdown-item " role="button " [routerLink]="[ '/reports/contacteddatalist'] " title="Contacted ">
                    <div class="float-left ">
                        <img src="/assets/images/contacted.png " alt="contacted " height="25px " width="25px ">
                    </div>
                    Contacted
                    <span *ngIf="fetchData25 !==0 " class="badge badge-danger ">{{fetchData25}}</span>
                </a>
                <a *ngIf="abc==='SUPERADMIN'" class="dropdown-item " role="button " [routerLink]="[ '/reports/logindatalist'] " title="Login ">
                    <div class="float-left ">
                        <img src="/assets/images/login.png " alt="Login " height="25px " width="25px ">
                    </div>
                    Login
                    <span *ngIf="fetchData26 !==0 " class="badge badge-danger ">{{fetchData26}}</span>
                </a>
                <a *ngIf="abc==='SUPERADMIN'" class="dropdown-item " role="button " [routerLink]="[ '/reports/wipdatalist'] " title="Work in Progress ">
                    <div class="float-left ">
                        <img src="/assets/images/wip.png " alt="WIP " height="25px " width="25px ">
                    </div>
                    WIP
                    <span *ngIf="fetchData27 !==0 " class="badge badge-danger ">{{fetchData27}}</span>
                </a>
                <a *ngIf="abc==='SUPERADMIN'" class="dropdown-item " role="button " [routerLink]="[ '/reports/approvedatalist'] " title="Approved ">
                    <div class="float-left ">
                        <img src="/assets/images/approved.png " alt="Approved " height="25px " width="25px ">
                    </div>
                    Approved
                    <span *ngIf="fetchData28 !==0 " class="badge badge-danger ">{{fetchData28}}</span>
                </a>
                <a *ngIf="abc==='SUPERADMIN' " class="dropdown-item " role="button " [routerLink]="[ '/reports/disbursedatalist'] " title="Disbursed ">
                    <div class="float-left ">
                        <img src="/assets/images/disbursed.png " alt="Disbursed " height="25px " width="25px ">
                    </div>
                    Disbursed
                </a>
                <a *ngIf="abc==='SUPERADMIN'" class="dropdown-item " role="button " [routerLink]="[ '/reports/rejectdatalist'] " title="Rejected ">
                    <div class="float-left ">
                        <img src="/assets/images/rejected.png " alt="Rejected " height="25px " width="25px ">
                    </div>
                    Rejected
                </a>
            </div>
        </li>
        <li class="nav-item  d-md-down-none " *ngIf="abc==='EXECUTIVE' && isadmin==='Admin' " dropdown placement="bottom right ">
            <a class="nav-link " title="Status " data-toggle="dropdown " href="# " role="button " aria-haspopup="true " aria-expanded="false " dropdownToggle (click)="false ">
                <img src="/assets/images/phone.png " class="Status " height="40px " width="40px " />
                <span *ngIf="fetchData20 !==0 " class="badge badge-danger ">{{fetchData20}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right " *dropdownMenu aria-labelledby="simple-dropdown ">
                <div class="dropdown-header text-center "><strong>Status</strong></div>
                <a *ngIf="abc==='EXECUTIVE' && isadmin==='Admin' " class="dropdown-item " role="button " [routerLink]="[ '/executives/admindata'] " title="Required List ">
                    <div class="float-left ">
                        <img src="/assets/images/required.png " alt="required " height="25px " width="25px ">
                    </div>
                    Required
                    <span *ngIf="fetchData11 !==0 " class="badge badge-danger ">{{fetchData11}}</span>
                </a>
                <a *ngIf="abc==='EXECUTIVE' && isadmin==='Admin' " class="dropdown-item " role="button " [routerLink]="[ '/executives/notopendatalist'] " title="Executive Not Opened list ">
                    <div class="float-left ">
                        <img src="/assets/images/nores.png " alt="not opened " height="25px " width="25px ">
                    </div>
                    Not Opened
                    <span *ngIf="fetchData14 !==0 " class="badge badge-danger ">{{fetchData14}}</span>
                </a>
                <a *ngIf="abc==='EXECUTIVE' && isadmin==='Admin' " class="dropdown-item " role="button " [routerLink]="[ '/executives/nofallowup'] " title="No Fallow up ">
                    <div class="float-left ">
                        <img src="/assets/images/nofollow.png " alt="No Folloe Up" height="25px " width="25px ">
                    </div>
                    No Follow up
                    <span *ngIf="fetchData21 !==0 " class="badge badge-danger ">{{fetchData21}}</span>
                </a>
                <a *ngIf="abc==='EXECUTIVE' && isadmin==='Admin' " class="dropdown-item " role="button " [routerLink]="[ '/executives/filepickeddatalist'] " title="File Picked ">
                    <div class="float-left ">
                        <img src="/assets/images/filepicked.png " alt="file pick " height="25px " width="25px ">
                    </div>
                    File Picked
                    <span *ngIf="fetchData15 !==0 " class="badge badge-danger ">{{fetchData15}}</span>
                </a>
                <a *ngIf="abc==='EXECUTIVE' && isadmin==='Admin' " class="dropdown-item " role="button " [routerLink]="[ '/executives/contacteddatalist'] " title="Contacted ">
                    <div class="float-left ">
                        <img src="/assets/images/contacted.png " alt="contacted " height="25px " width="25px ">
                    </div>
                    Contacted
                    <span *ngIf="fetchData16 !==0 " class="badge badge-danger ">{{fetchData16}}</span>
                </a>
                <a *ngIf="abc==='EXECUTIVE' && isadmin==='Admin' " class="dropdown-item " role="button " [routerLink]="[ '/executives/logindatalist'] " title="Login ">
                    <div class="float-left ">
                        <img src="/assets/images/login.png " alt="Login " height="25px " width="25px ">
                    </div>
                    Login
                    <span *ngIf="fetchData17 !==0 " class="badge badge-danger ">{{fetchData17}}</span>
                </a>
                <a *ngIf="abc==='EXECUTIVE' && isadmin==='Admin' " class="dropdown-item " role="button " [routerLink]="[ '/executives/wipdatalist'] " title="Work in Progress ">
                    <div class="float-left ">
                        <img src="/assets/images/wip.png " alt="WIP " height="25px " width="25px ">
                    </div>
                    WIP
                    <span *ngIf="fetchData18 !==0 " class="badge badge-danger ">{{fetchData18}}</span>
                </a>
                <a *ngIf="abc==='EXECUTIVE' && isadmin==='Admin' " class="dropdown-item " role="button " [routerLink]="[ '/executives/approvedatalist'] " title="Approved ">
                    <div class="float-left ">
                        <img src="/assets/images/approved.png " alt="Approved " height="25px " width="25px ">
                    </div>
                    Approved
                    <span *ngIf="fetchData19 !==0 " class="badge badge-danger ">{{fetchData19}}</span>
                </a>
                <a *ngIf="abc==='EXECUTIVE' && isadmin==='Admin' " class="dropdown-item " role="button " [routerLink]="[ '/executives/disbursedatalist'] " title="Disbursed ">
                    <div class="float-left ">
                        <img src="/assets/images/disbursed.png " alt="Disbursed " height="25px " width="25px ">
                    </div>
                    Disbursed
                </a>
                <a *ngIf="abc==='EXECUTIVE' && isadmin==='Admin' " class="dropdown-item " role="button " [routerLink]="[ '/executives/rejectdatalist'] " title="Rejected ">
                    <div class="float-left ">
                        <img src="/assets/images/rejected.png " alt="Rejected " height="25px " width="25px ">
                    </div>
                    Rejected
                </a>
            </div>
        </li>
        <li class="nav-item  d-md-down-none" *ngIf="abc==='SUPERADMIN'" dropdown placement="bottom right">
            <a class="nav-link" title="Admin Settings" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">

                <img src="/assets/images/admin.png" height="50px" width="50px" />
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center"><strong>Add</strong></div>
                <a *ngIf="abc==='SUPERADMIN'" class="dropdown-item" role="button" [routerLink]="['/notification/addnotification']" title="Add Notifications ">
                    <img src="/assets/images/addnotification.png " alt="Add Notifications " height="30px " width="30px "> Add Notifications
                </a>
                <a *ngIf="abc==='SUPERADMIN'" class="dropdown-item" role="button" [routerLink]="['/notification/addevents']" title="Add Calendar Event ">
                    <img src="/assets/images/calendar.png " alt="Add Calendar Event " height="30px " width="30px "> Add Calendar Events
                </a>
                <div class="dropdown-header text-center"><strong>View</strong></div>
                <a *ngIf="abc==='SUPERADMIN'" class="dropdown-item" role="button" [routerLink]="['/notification/viewnotification']" title="View Notifications ">
                    <img src="/assets/images/viewnoti.png " alt="Add Notifications " height="30px " width="30px "> View Sent Notifications
                </a>
            </div>
        </li>
        <li class="nav-item  d-md-down-none " *ngIf="abc==='SUPERADMIN' " dropdown placement="bottom right ">
            <a class="nav-link " title="Reports " data-toggle="dropdown " href="# " role="button " aria-haspopup="true " aria-expanded="false " dropdownToggle (click)="false ">

                <img src="/assets/images/report.png " class="Reports " height="40px " width="40px " />

                <span *ngIf="fetchData9 !==0 " class="badge badge-danger ">{{fetchData9}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right " *dropdownMenu aria-labelledby="simple-dropdown ">
                <div class="dropdown-header text-center "><strong>Reports</strong></div>
                <a *ngIf="abc==='SUPERADMIN' " class="dropdown-item " role="button " [routerLink]="[ '/account/leaveapp'] " title="New Leave Application ">

                    <img src="/assets/images/leave.png " alt="leave " height="30px " width="30px "> New Leave Application
                    <span *ngIf="fetchData6 !==0 " class="badge badge-danger ">{{fetchData6}}</span>
                </a>
                <a *ngIf="abc==='SUPERADMIN' " class="dropdown-item " role="button " [routerLink]="[ '/account/suggestion'] " title="New Suggestion Box ">

                    <img src="/assets/images/suggestionbox.png " alt="suggestion " height="30px " width="30px "> New Suggestion
                    <span *ngIf="fetchData4 !==0 " class="badge badge-danger ">{{fetchData4}}</span>
                </a>
                <a *ngIf="abc==='SUPERADMIN' " class="dropdown-item " role="button " [routerLink]="[ '/account/conveniencs'] " title="New Conveniences ">

                    <img src="/assets/images/Bill.png " alt="Convenience " height="30px " width="30px "> New Conveniences
                    <span *ngIf="fetchData5 !==0 " class="badge badge-danger ">{{fetchData5}}</span>
                </a>
                <a *ngIf="abc==='SUPERADMIN' " class="dropdown-item " role="button " [routerLink]="[ '/reports/websitelead'] " title="New Web Lead ">

                    <img src="/assets/images/weblead.png " alt="Convenience " height="30px " width="30px "> Web Lead
                    <span *ngIf="fetchData7 !==0 " class="badge badge-danger ">{{fetchData7}}</span>
                </a>
                <a *ngIf="abc==='SUPERADMIN' " class="dropdown-item " role="button " [routerLink]="[ '/account/viewEarlygo'] " title="New Direct Appointment ">

                    <img src="/assets/images/appointments.png " alt="Direct Appointment " height="30px " width="30px "> Direct Appointment
                    <span *ngIf="fetchData8 !==0 " class="badge badge-danger ">{{fetchData8}}</span>
                </a>
                <a *ngIf="abc==='SUPERADMIN' " class="dropdown-item " role="button " [routerLink]="[ '/guest/viewVisitor'] " title="New Direct Appointment ">

                    <img src="/assets/images/visitor.png " alt="Visitor " height="30px " width="30px "> New Visitor
                    <span *ngIf="fetchData31 !==0 " class="badge badge-danger ">{{fetchData31}}</span>
                </a>
            </div>
        </li>
        <li class="nav-item  d-md-down-none " *ngIf="abc==='ACCOUNTANT' ">
            <a class="nav-link " role="button " [routerLink]="[ '/account/conveniencs'] " title="New Conveniences "><img src="/assets/images/Bill.png " alt="Convenience " height="30px " width="30px ">
                <span *ngIf="fetchData5 !==0 " class="badge badge-danger ">{{fetchData5}}</span>
            </a>
        </li>
        <li class="nav-item  d-md-down-none " *ngIf="abc==='EXECUTIVE' && isadmin!=='Admin' ">
            <a class="nav-link " role="button " [routerLink]="[ '/executives/exeteledatalist'] " title="New Appointments "><img src="/assets/images/assign.png " alt="Appointment Assign " height="50px" width="50px">
                <span *ngIf="fetchData10 !==0 " class="badge badge-danger ">{{fetchData10}}</span>
            </a>
        </li>
        <li class="nav-item dropdown " dropdown placement="bottom right ">
            <a class="nav-link " title="{{fetchData.name}} " data-toggle="dropdown " href="# " role="button " aria-haspopup="true " aria-expanded="false " dropdownToggle (click)="false ">
                <img src="https://mindfin-files.oss-ap-south-1.aliyuncs.com/{{fetchData.cimage}} " class="myimg " height="50px " width="50px " /><span class="nav-item mycss d-md-down-none card-text text-info"><b>{{fetchData.name}}</b></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right " *dropdownMenu aria-labelledby="simple-dropdown ">
                <div class="dropdown-header text-center "><strong>Settings</strong></div>
                <a *ngIf="abc!=='GUEST' " class="dropdown-item " style="cursor: pointer;" (click)="convens() "><img src="/assets/images/Bill.png " class="myimg " alt="emp " height="30px " width="30px "> Conveniences
                </a>
                <a class="dropdown-item " style="cursor: pointer;" (click)="sugbox() "><img src="/assets/images/suggestionbox.png " class="myimg " alt="emp " height="30px " width="30px "> Suggestion Box</a>
                <a *ngIf="abc!=='GUEST' " class="dropdown-item " style="cursor: pointer;" (click)="leaveapp() "><img src="/assets/images/leave.png " class="myimg " alt="emp " height="30px " width="30px "> Leave Application
                </a>
                <a class="dropdown-item " style="cursor: pointer;" (click)="logout() "><img src="/assets/images/logout.png " class="myimg " alt="emp " height="30px " width="30px "> Logout
                </a>
            </div>
        </li>
    </ul>
</app-header>
<div class="app-body ">
    <app-sidebar [fixed]="true " [display]=" 'lg' " *ngIf="abc==='SUPERADMIN' ">
        <app-sidebar-nav [navItems]="navItems " [perfectScrollbar] [disabled]="sidebarMinimized " style="background:url( 'assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important; ">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true " [display]=" 'lg' " *ngIf="abc==='EXECUTIVE' && isadmin==='Admin' ">
        <app-sidebar-nav [navItems]="navItems8 " [perfectScrollbar] [disabled]="sidebarMinimized " style="background:url( 'assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important; ">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true " [display]=" 'lg' " *ngIf="abc==='EXECUTIVE' && isadmin!=='Admin' ">
        <app-sidebar-nav [navItems]="navItems1 " [perfectScrollbar] [disabled]="sidebarMinimized " style="background:url( 'assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important; ">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true " [display]=" 'lg' " *ngIf="abc==='TELECALLER' ">
        <app-sidebar-nav [navItems]="navItems2 " [perfectScrollbar] [disabled]="sidebarMinimized " style="background:url( 'assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important; ">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true " [display]=" 'lg' " *ngIf="abc==='DATA ENTRY' ">
        <app-sidebar-nav [navItems]="navItems3 " [perfectScrollbar] [disabled]="sidebarMinimized " style="background:url( 'assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important; ">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true " [display]=" 'lg' " *ngIf="abc==='ACCOUNTANT' ">
        <app-sidebar-nav [navItems]="navItems5 " [perfectScrollbar] [disabled]="sidebarMinimized " style="background:url( 'assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important; ">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true " [display]=" 'lg' " *ngIf="abc==='LOGIN' ">
        <app-sidebar-nav [navItems]="navItems6 " [perfectScrollbar] [disabled]="sidebarMinimized " style="background:url( 'assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important; ">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true " [display]=" 'lg' " *ngIf="abc==='BACKEND' && teamHead!=='true' ">
        <app-sidebar-nav [navItems]="navItems7 " [perfectScrollbar] [disabled]="sidebarMinimized " style="background:url( 'assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important; ">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true " [display]=" 'lg' " *ngIf="abc==='BACKEND' && teamHead==='true'  ">
        <app-sidebar-nav [navItems]="navItems11 " [perfectScrollbar] [disabled]="sidebarMinimized " style="background:url( 'assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important; ">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true " [display]=" 'lg' " *ngIf="abc==='ADMIN' ">
        <app-sidebar-nav [navItems]="navItems9 " [perfectScrollbar] [disabled]="sidebarMinimized " style="background:url( 'assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important; ">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true " [display]=" 'lg' " *ngIf="abc==='GUEST' ">
        <app-sidebar-nav [navItems]="navItems10" [perfectScrollbar] [disabled]="sidebarMinimized " style="background:url( 'assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important; ">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true " [display]=" 'lg' " *ngIf="abc==='CUSTOMER' ">
        <app-sidebar-nav [navItems]="navItems4 " [perfectScrollbar] [disabled]="sidebarMinimized " style="background:url( 'assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important; ">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <main class="main ">
        <ol class="breadcrumb " style="color:orange;">
            <button (click)="goBack()">Go Back /&nbsp;</button>
            <app-breadcrumb></app-breadcrumb>
        </ol>
        <div class="container-fluid ">
            <router-outlet></router-outlet>
        </div>
    </main>
    <app-aside [fixed]="true " [display]="false " [ngClass]=" 'test' ">
        <tabset *ngIf="abc!=='GUEST' ">
            <tab>
                <ng-template tabHeading>
                    <a role="button " title="More Settings "><img src="/assets/images/alerts.png " alt="More Settings " height="25px " width="25px "></a>
                </ng-template>
                <div class="list-group list-group-accent ">
                    <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small ">
                        More Settings</div>
                </div>
                <div class="p-3 list-group-item list-group-item-divider font-weight-bold text-center ">
                    <a class="card-text text-info" style="cursor: pointer; text-decoration: none" role="button " title="Profile Setting" [routerLink]="[ '/notification/profilesettings'] ">
                        <div class="float-left ">
                            <img src="https://mindfin-files.oss-ap-south-1.aliyuncs.com/{{fetchData.cimage}} " alt="profile Setting " height="30px " width="30px ">
                        </div>
                        Profile Setting
                    </a>
                </div>
                <div class="p-3 list-group-item list-group-item-divider font-weight-bold text-center ">

                    <a class="card-text text-info" style="cursor: pointer; text-decoration: none" role="button " title="Late In or Early Go " [routerLink]="[ '/account/lego'] ">
                        <div class="float-left ">
                            <img src="/assets/images/appointments.png " alt="Direct Appointment " height="30px " width="30px ">
                        </div>
                        Late In Or Early Out
                    </a>
                </div>
                <div class="p-3 list-group-item list-group-item-divider font-weight-bold text-center ">
                    <a class="card-text text-info" style="cursor: pointer; text-decoration: none" [routerLink]="[ '/notification/empnotification']" role=" button " title="Notifications ">
                        <div class="float-left ">
                            <img src="/assets/images/notification.png " alt="notification " height="30px " width="30px ">
                        </div>
                        Notifications
                        <div class="float-right ">
                            <span class="badge badge-danger ">{{fetchData12}}</span>
                        </div>
                    </a>
                </div>
                <div class="p-3 list-group-item list-group-item-divider font-weight-bold text-center ">
                    <a class="card-text text-info " style="cursor: pointer; text-decoration: none " [routerLink]="[ '/notification/assigntodo']" role="button " title="todo ">
                        <div class="float-left ">
                            <img src="/assets/images/todo.png " alt="todolist " height="30px " width="30px ">
                        </div>
                        TO Do List
                        <div class="float-right ">
                            <span class="badge badge-danger ">{{fetchData13}}</span>
                        </div>
                    </a>
                </div>
                <div class="p-3 list-group-item list-group-item-divider font-weight-bold text-center ">
                    <a class="card-text text-info" style="cursor: pointer; text-decoration: none" [routerLink]="[ '/notification/events']" role="button " title="Calendar">
                        <div class="float-left ">
                            <img src="/assets/images/event.png " alt="upcoming Events " height="30px " width="30px ">
                        </div>
                        Calendar
                    </a>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <a role="button " title="Leave Application Status "><img src="/assets/images/leave.png " alt="leave " height="25px " width="25px "></a>
                </ng-template>
                <div class="list-group list-group-accent ">
                    <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small ">
                        Leave Application Status </div>
                    <div *ngFor='let pro of fetchData1'>
                        <div class="list-group-item list-group-item-accent-info list-group-item-divider " *ngIf="pro.status==='Pending' ; else Opened; ">
                            <small class="text-muted mr-3 "><i class="fa fa-calendar-times-o "></i> {{pro.leaveFrom}} -
                                {{pro.leaveTo}}</small>
                            <small class="text-muted "><i class="fa fa-clock-o "></i>  {{pro.noDays}}day ago</small>
                            <div><strong>{{pro.reason}}</strong></div>
                        </div>
                        <ng-template #Opened>
                            <div class="list-group-item list-group-item-accent-warning list-group-item-divider " *ngIf="pro.status==='Opened' ; else Approved; ">
                                <small class="text-muted mr-3 "><i
                                        class="fa fa-calendar-times-o "></i> {{pro.leaveFrom}}
                                    - {{pro.leaveTo}}</small>
                                <small class="text-muted "><i class="fa fa-clock-o "></i>  {{pro.noDays}}day ago</small>
                                <div><strong>{{pro.reason}}</strong></div>
                            </div>
                        </ng-template>
                        <ng-template #Approved>
                            <div class="list-group-item list-group-item-accent-success list-group-item-divider " *ngIf="pro.status==='Approved' ; else Reject; ">
                                <small class="text-muted mr-3 "><i
                                        class="fa fa-calendar-times-o "></i> {{pro.leaveFrom}}
                                    - {{pro.leaveTo}}</small>
                                <small class="text-muted "><i class="fa fa-clock-o "></i>  {{pro.noDays}}day ago</small>
                                <div><strong>{{pro.reason}}</strong></div>
                            </div>
                        </ng-template>
                        <ng-template #Reject>
                            <div class="list-group-item list-group-item-accent-danger list-group-item-divider " *ngIf="pro.status==='Reject' ">
                                <small class="text-muted mr-3 "><i
                                        class="fa fa-calendar-times-o "></i> {{pro.leaveFrom}}
                                    - {{pro.leaveTo}}</small>
                                <small class="text-muted "><i class="fa fa-clock-o "></i>  {{pro.noDays}}day ago</small>
                                <div><strong>{{pro.reason}}</strong></div>
                            </div>
                        </ng-template>
                    </div>
                    <div class="list-group-item text-center list-group-item-divider ">
                        <a class="btn badge-info " [routerLink]="[ '/member/indileavapp'] "><i class="fa fa-eye "></i>
                            &nbsp;View All</a>
                    </div>
                    <div class="list-group-item list-group-item-divider ">
                        <small class="badge badge-info "> Applied </small>
                        <small class="badge badge-warning "> Opened </small>
                        <small class="badge badge-success "> Approved </small>
                        <small class="badge badge-danger "> Rejected </small>
                    </div>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <a role="button " title="Convenience Status "><img src="/assets/images/Bill.png " alt="Convenience " height="25px " width="25px "></a>
                </ng-template>
                <div class="list-group list-group-accent ">
                    <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small ">
                        Convenience Status</div>
                    <div *ngFor='let pro1 of fetchData2'>

                        <div class="list-group-item list-group-item-accent-info list-group-item-divider " *ngIf="pro1.status==='Pending' ; else Opened; ">
                            <div class="avatar float-right ">
                                <img class="img-avatar " src="https://mindfin-files.oss-ap-south-1.aliyuncs.com/{{pro1.conImg}} " alt="Convenienceimg ">
                            </div>
                            <div><strong>{{pro1.categories}}</strong></div>
                        </div>
                        <ng-template #Opened>
                            <div class="list-group-item list-group-item-accent-warning list-group-item-divider " *ngIf="pro1.status==='Opened' ; else Approved; ">
                                <div class="avatar float-right ">
                                    <img class="img-avatar " src="https://mindfin-files.oss-ap-south-1.aliyuncs.com/{{pro1.conImg}} " alt="Convenienceimg ">
                                </div>
                                <div><strong>{{pro1.categories}}</strong></div>
                            </div>
                        </ng-template>
                        <ng-template #Approved>
                            <div class="list-group-item list-group-item-accent-success list-group-item-divider " *ngIf="pro1.status==='Approved' ; else Reject; ">
                                <div class="avatar float-right ">
                                    <img class="img-avatar " src="https://mindfin-files.oss-ap-south-1.aliyuncs.com/{{pro1.conImg}} " alt="Convenienceimg ">
                                </div>
                                <div><strong>{{pro1.categories}}</strong></div>
                            </div>
                        </ng-template>
                        <ng-template #Reject>
                            <div class="list-group-item list-group-item-accent-danger list-group-item-divider " *ngIf="pro1.status==='Reject' ">
                                <div class="avatar float-right ">
                                    <img class="img-avatar " src="https://mindfin-files.oss-ap-south-1.aliyuncs.com/{{pro1.conImg}} " alt="Convenienceimg ">
                                </div>
                                <div><strong>{{pro1.categories}}</strong></div>
                            </div>
                        </ng-template>
                    </div>
                    <div class="list-group-item text-center list-group-item-divider ">
                        <a class="btn badge-info " [routerLink]="[ '/member/indiconve'] "><i class="fa fa-eye "></i>
                            &nbsp;View All</a>
                    </div>
                    <div class="list-group-item list-group-item-divider ">
                        <small class="badge badge-info "> Applied </small>
                        <small class="badge badge-warning "> Opened </small>
                        <small class="badge badge-success "> Approved </small>
                        <small class="badge badge-danger "> Rejected </small>
                    </div>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <a role="button " title="Suggestion Status "><img src="/assets/images/suggestionbox.png " alt="Suggestion " height="25px " width="25px "></a>
                </ng-template>
                <div class="list-group list-group-accent ">
                    <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small ">
                        Suggestion Status</div>
                    <div *ngFor='let pro2 of fetchData3'>
                        <div class="list-group-item list-group-item-accent-info list-group-item-divider " *ngIf="pro2.status==='Pending' ; else Opened; ">
                            <div><strong>{{pro2.suggestion}}</strong></div>
                        </div>
                        <ng-template #Opened>
                            <div class="list-group-item list-group-item-accent-warning list-group-item-divider " *ngIf="pro2.status==='Opened' ; else Approved; ">
                                <div><strong>{{pro2.suggestion}}</strong></div>
                            </div>
                        </ng-template>
                        <ng-template #Approved>
                            <div class="list-group-item list-group-item-accent-success list-group-item-divider " *ngIf="pro2.status==='Approved' ; else Reject; ">
                                <div><strong>{{pro2.suggestion}}</strong></div>
                            </div>
                        </ng-template>
                        <ng-template #Reject>
                            <div class="list-group-item list-group-item-accent-danger list-group-item-divider " *ngIf="pro2.status==='Reject' ">
                                <div><strong>{{pro2.suggestion}}</strong></div>
                            </div>
                        </ng-template>
                    </div>
                    <div class="list-group-item text-center list-group-item-divider ">
                        <a class="btn badge-info " [routerLink]="[ '/member/indiSuggest'] "><i class="fa fa-eye "></i>
                            &nbsp;View All</a>
                    </div>
                    <div class="list-group-item list-group-item-divider ">
                        <small class="badge badge-info "> Sent </small>
                        <small class="badge badge-warning "> Opened </small>
                        <small class="badge badge-success "> Approved </small>
                        <small class="badge badge-danger "> Rejected </small>
                    </div>
                </div>
            </tab>
        </tabset>
    </app-aside>
</div>
<div class="foot ">
    <app-footer>
        <span>&copy; 2020 <a href="https://www.mindfin.co.in/ " target="_blank " style="text-decoration:none; ">Mindfin
                Ser
                Pvt. Ltd.</a></span>
    </app-footer>
</div>
<style>
    .myimg {
        width: 40px;
        height: 40px;
    }
    
    .pull-right {
        float: righ;
    }
    
    @media print {
        .breadcrumb,
        #non-printable {
            display: none !important;
        }
        #printable {
            display: block;
        }
    }
    
    .app-header .navbar-toggler-icon {
        background-image: none;
    }
    
    @media print {
        a[href]:after {
            content: none !important;
        }
    }
    
    @media print {
        .foot {
            display: none !important;
        }
    }
</style>