
   <div class="row">
      
   
        <div class="col-lg-12">
              <div class="card">
                 <div class="card-header">
                    <strong>CUSTOMER LIST</strong> 
                 </div>
                 <div class="card-body">
                    <div class="table-responsive">
                       
                       <table class="table">
                          <thead>
                             <tr>
                                <th>CUSTOMER</th>
                                <th>MOBILE</th> 
                                <th>EMAIL</th>
                                <th>CUSTOMER ID</th>
                                <th>ADD TRANSCATIONS</th>
                                <th>VIEW TRANSCATIONS</th>

    
                             </tr>
                          </thead>
                          <tbody>
                           
                             <tr *ngFor='let pro of fetchData'>
                                                                
                                    <td>
                                    {{pro.name}}
                                    </td>
                                    <td>
                                    {{pro.mobile}}
                                    </td>
                                    <td>
                                    {{pro.email}}
                                    </td>
                                    <td>
                                    {{pro.autoid}}
                                    </td>
                                    <td> 
                                    <button class="btn btn-primary" 
                                    style="color:rgb(240, 240, 247)" (click)="openDialog(element,pro.idcustomer)" >
                                    OUT SOURCING PAYMENTS 
                                    </button> 
                     
                                   </td>
                                   <td>
                                       <button class="btn btn-primary" 
                                       style="color:rgb(240, 240, 247)"
                                       (click)="openDialog1(element,pro.idcustomer)" >
                 VIEW DETAILS
                                       </button> 
                                   </td>
                                  
                                  </tr>
                            
                          </tbody>
                       </table>
                      <!-- </form> -->
                    </div>
                 </div>
              </div>
           </div>
       
    
    
    </div>
    