<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="animated fadeIn" [hidden]="isLoading">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>ENQUIRED DATA LIST
                    <button style="float:right" (click)="exportAsXLSX()">
            <i class="fa fa-file-excel-o" style="font-size:30px;color:blue"></i>
          </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="card-body">

                            <form>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <mat-form-field>
                                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <input class="form-group" [(ngModel)]="model.startdate" name="startdate" type="text" placeholder="From (MM/DD/YYYY) - To(MM/DD/YYYY)" class="form-control" bsDaterangepicker [bsConfig]="{ isAnimated: true }">
                                    </div>
                                    <div class="col-lg-3">
                                        <button class="btn btn-primary" (click)="getreport(model)">Get Data</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <table mat-table #table [dataSource]="dataSource" class="table table-striped responsive" matSort>


                            <ng-container matColumnDef="date">
                                <th *matHeaderCellDef mat-sort-header>ENQUIRED DATE</th>
                                <td *matCellDef="let element" style="text-align:center;">
                                    {{element.createddate | date:'dd/MM/yyyy'}}<br />

                                </td>
                            </ng-container>
                            <ng-container matColumnDef="telename">
                                <th *matHeaderCellDef mat-sort-header>TELE NAME</th>
                                <td *matCellDef="let element" style="text-align:center;"> {{element.ename}}<br />

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="id">
                                <th *matHeaderCellDef mat-sort-header>COMPANY NAME</th>
                                <td *matCellDef="let element" style="text-align:center;"> {{element.name}}<br />

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th *matHeaderCellDef mat-sort-header>MOBILE NO</th>
                                <td *matCellDef="let element" style="text-align:center;"> {{element.mobile}}<br />

                                </td>
                            </ng-container>


                            <ng-container matColumnDef="mobile">
                                <th *matHeaderCellDef mat-sort-header>EMAIL</th>
                                <td *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th *matHeaderCellDef mat-sort-header>LOANTYPE</th>
                                <td *matCellDef="let element"> {{element.loantype}} </td>
                            </ng-container>
                            <ng-container matColumnDef="address">
                                <th *matHeaderCellDef mat-sort-header>ADDRESS</th>
                                <td *matCellDef="let element"> {{element.address}} </td>
                            </ng-container>
                            <ng-container matColumnDef="bankname">
                                <th *matHeaderCellDef mat-sort-header>STATUS</th>
                                <td *matCellDef="let element"> {{element.status}} </td>
                            </ng-container>
                            <ng-container matColumnDef="bank">
                                <th *matHeaderCellDef mat-sort-header>APPROACHED BANK</th>
                                <td *matCellDef="let element"> {{element.approchedBank}} </td>
                            </ng-container>
                            <ng-container matColumnDef="comment">
                                <th *matHeaderCellDef mat-sort-header>APPOINTMENT</th>
                                <td *matCellDef="let element"> {{element.comment}} </td>
                            </ng-container>
                            <ng-container matColumnDef="turnover">
                                <th *matHeaderCellDef mat-sort-header>TURNOVER</th>
                                <td *matCellDef="let element"> {{element.turnover}} </td>
                            </ng-container>
                            <ng-container matColumnDef="edit">
                                <th *matHeaderCellDef mat-sort-header>EDIT</th>
                                <td *matCellDef="let element">
                                    <button mat-raised-button color="primary" matBadgeColor="red" (click)="editData(element.idenquiry);">
                         Edit
                       </button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="assign">
                                <th *matHeaderCellDef mat-sort-header>ASSIGN</th>
                                <td *matCellDef="let element">
                                    <button [disabled]="element.adminexeStatus == 'assigned'" mat-raised-button color="warn" matBadgeColor="red" (click)="openDialog(element)">
                        Assign
                      </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
    
    mat-spinner {
        margin: auto;
    }
</style>