<style>
    @media(max-width:600px) {
        .extra-height.chart-wrapper {
            height: 90px !important;
        }
    }
    
    @media(min-width:601px) {
        .extra-height.chart-wrapper {
            height: 60px !important;
        }
    }
</style>
<div class="animated fadeIn">

    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div id="chartContainer1" style="height: 500px; width: 100%; margin-left:auto;margin-right:auto;"></div>

            </div>
        </div>
    </div>
</div>