<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="animated fadeIn" [hidden]="isLoading">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>Routine Information

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                        </mat-form-field>

                        <table mat-table #table [dataSource]="dataSource" class="table table-striped responsive" matSort>


                            <ng-container matColumnDef="date">
                                <th *matHeaderCellDef mat-sort-header>CREATED DATE</th>
                                <td *matCellDef="let element" style="text-align:center;">
                                    {{element.createddate | date:'dd/MM/yyyy'}}<br />

                                </td>
                            </ng-container>


                            <ng-container matColumnDef="company">
                                <th *matHeaderCellDef mat-sort-header>NO OF CALLS</th>
                                <td *matCellDef="let element" style="text-align:center;"> {{element.noOfCalls}}<br />

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="bank">
                                <th *matHeaderCellDef mat-sort-header>NO OF FOLLOWUP'S</th>
                                <td *matCellDef="let element" style="text-align:center;"> {{element.noOfFollowUp}}<br />

                                </td>
                            </ng-container>


                            <ng-container matColumnDef="whosecase">
                                <th *matHeaderCellDef mat-sort-header>NO OF LEAD</th>
                                <td *matCellDef="let element"> {{element.noOfLeadGenrated}} </td>
                            </ng-container>


                            <ng-container matColumnDef="comment">
                                <th *matHeaderCellDef mat-sort-header>COMMENTS</th>
                                <td *matCellDef="let element"> {{element.comment}} </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="edit">
                        <th *matHeaderCellDef mat-sort-header>EDIT</th>
                        <td *matCellDef="let element">
                           <button mat-raised-button color="primary" matBadgeColor="red"
                              (click)="editData1(element.routineid);">
                              Edit
                           </button>
                        </td>
                     </ng-container> -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
    
    mat-spinner {
        margin: auto;
    }
</style>