
   <div class="row">
        <div class="col-md-6">
           <div class="card">
    
              <form (ngSubmit)="f.form.valid && onSubmit();refresh();" #f="ngForm" novalidate>
              <div class="card-header">
                 <strong> ADD BANK PERIOD  </strong>
              </div>
    
              <div class="card-body">
    
                 <div class="row">
                    <div class="col-md-8">
                       <label for="period">Period</label>
                       <input type="text" class="form-control" name="period" [(ngModel)]="model.period"
                       #period="ngModel"    required/>
                       <div *ngIf="f.submitted && period.invalid"  class="invalid-feedback">
                          <div *ngIf="period.errors.required">Period is required</div>
                       </div>
                       <br>
                    </div>
                 </div>

                 <div class="row">
                        <div class="col-md-8">
                           <label for="eligibleperiod">Eligible Period</label>
                           <input type="text" class="form-control" name="eligibleperiod" [(ngModel)]="model.eligibleperiod"
                           #eligibleperiod="ngModel"    required/>
                           <div *ngIf="f.submitted && eligibleperiod.invalid"  class="invalid-feedback">
                              <div *ngIf="eligibleperiod.errors.required">Period is required</div>
                           </div>
                           <br>
                        </div>
                     </div>

    
                 <div class="card-footer">
                    <button type="submit" class="btn btn-success " [disabled]="!f.form.valid || model.status===true"><i class="fa fa-dot-circle-o"></i> Save</button>
                 </div>
    
                </div>
    
                 </form>
              </div>
            </div>
              <div class="col-lg-6">
                 <div class="card">
                    <div class="card-header">
                       <strong>BANK LIST</strong> 
                    </div>
                    <div class="card-body">
                       <div class="table-responsive">
                          <table class="table">
                             <thead>
                                <tr>
                                   <th>Period</th>
                                   <th>Eligibility</th>
                                   <th>EDIT</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr *ngFor='let pro of fetchData'>
                                   <td>
                                      {{pro.period}}
                                   </td>
                                   <td>
                                        {{pro.eligibleperiod}}
                                     </td>
                                   <td>
                                      <button (click)="editproject(pro)" class="btn btn-primary">Edit</button>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!--/.col-->
        <!-- </div> -->
        <!--/.row-->