<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="animated fadeIn" [hidden]="isLoading">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Career Form Data
                    <!-- <button style="float:right" (click)="exportAsXLSX()">
            <i class="fa fa-file-excel-o" style="font-size:30px;color:blue"></i>
          </button> -->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                        </mat-form-field>

                        <table mat-table #table [dataSource]="dataSource" class="table table-striped responsive" matSort>


                            <ng-container matColumnDef="date">
                                <th *matHeaderCellDef mat-sort-header>Applied Date</th>
                                <td *matCellDef="let element" style="text-align:center;"> {{element.applieddate}}<br />

                                </td>
                            </ng-container>


                            <ng-container matColumnDef="name">
                                <th *matHeaderCellDef mat-sort-header>Job Seeker Name</th>
                                <td *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th *matHeaderCellDef mat-sort-header>EMAIL</th>
                                <td *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>
                            <ng-container matColumnDef="mobile">
                                <th *matHeaderCellDef mat-sort-header>Mobile Number</th>
                                <td *matCellDef="let element"> {{element.mobileno}} </td>
                            </ng-container>
                            <ng-container matColumnDef="gender">
                                <th *matHeaderCellDef mat-sort-header>Gender</th>
                                <td *matCellDef="let element"> {{element.gender}} </td>
                            </ng-container>
                            <ng-container matColumnDef="age">
                                <th *matHeaderCellDef mat-sort-header>Age</th>
                                <td *matCellDef="let element"> {{element.age}} </td>
                            </ng-container>
                            <ng-container matColumnDef="experience">
                                <th *matHeaderCellDef mat-sort-header>Experience</th>
                                <td *matCellDef="let element"> {{element.experience}} </td>
                            </ng-container>
                            <ng-container matColumnDef="jobapplied">
                                <th *matHeaderCellDef mat-sort-header>Applied Position</th>
                                <td *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
    
    mat-spinner {
        margin: auto;
    }
</style>