<div class="animated fadeIn">
        <div class="row">
           <div class="col-sm-12">
              <div class="card">
    
                 <div class="card-header">
                <strong>MY PROFILE</strong>
                 </div><br>
                
                 <form>
                        <div class="card-body">



                                <div class="col-md-12">
                                        
                                    <div  style="border:1px solid  black;background-color:#f2f2f2;padding:20px;box-shadow: 2px 2px #888888;">
                            <h4 style="color:#110407;text-align:center">CUSTOMER NAME:{{model.name}}</h4>

                                    <h5 style="color:#2fa1e2">CUSTOMER ID:{{model.autoid}}</h5>
                                    <br>
                                    <!-- <h5 style="color:#2fa1e2">CUSTOMER NAME:{{model.name}}</h5>    <br>   -->

                                    <h5 style="color:#2fa1e2">APPLIED LOAN TYPE:{{model.loantype}}</h5>    <br>  
                                    <h5 style="color:#2fa1e2">APPLIED LOAN AMOUNT:{{model.amount}}</h5>    <br>  
                                    <h5 style="color:#2fa1e2">MOBILE:{{model.mobile}}</h5><br>
                                    <h5 style="color:#2fa1e2">EMAIL:{{model.email}}</h5> <br>
                                    <h5 style="color:#2fa1e2">DATE OF BIRTH:{{model.dob}}</h5> <br>
                                    <h5 style="color:#2fa1e2">ADDRESS:{{model.email}}</h5> <br>
                                    <h5 style="color:#2fa1e2">COMPANY NAME:{{model.cname}}</h5> <br>
                                    <h5 style="color:#2fa1e2">DESIGNATION:{{model.designation}}</h5> <br>
                                    <h5 style="color:#2fa1e2">COMPANY ADDRESS:{{model.caddress}}</h5> <br>
<button type="button"  class="btn btn-success" (click)="trackstatus(model.autoid)">TRACK YOUR STATUS</button>
                                </div>
                                      </div>



                    </div>
    
             
                 </form>
  
    
              </div>
           </div>
        </div>
     </div>
    