<!-- <div class="col-lg-6"> -->
<div class="card">
   <div class="card-header">
      <strong>APPLIED BANK LIST</strong>
   </div>
   <div class="card-body">
      <div class="table-responsive">

         <table class="table">
            <thead>
               <tr>
                  <th>BANK NAME</th>

                  <th> AMOUNT</th>
                  <th> VENDOR</th>
                  <th>HANDLE BY</th>
                  <th>LOAN TYPE</th>
                  <th>PRODUCT</th>
                  
                  <th>STATUS</th>
                  <th>TIME</th>

                  <th>ADD</th>

               </tr>
            </thead>
            <tbody>

               <tr *ngFor='let pro of fetchData1'>

                  <td>
                     {{pro.bankname}}
                  </td>

                  <td>
                     {{pro.amount}}
                  </td>
                  <td>
                     {{pro.bankvendor}}
                  </td>
                  <td>
                     {{pro.executivename}}
                  </td>
                  <td>
                     {{pro.loantype}}
                  </td>
                  <td>
                     {{pro.product}}
                  </td>
                  
                  <td>
                     {{pro.status}}
                  </td>
                  <td>
                     {{pro.timing}}
                  </td>
                  <td>
                     <button type="submit" class="btn btn-primary" (click)="sentlogexeedit(pro.idapplybank);">ADD</button>
                  </td>
               </tr>

            </tbody>
         </table>
         <!-- </form> -->
      </div>
   </div>
</div>
<!-- </div> -->