<style>
        .btn_green {
            background-color: rgb(9, 87, 9) !important;
            padding: 8px 10px;
            color: #ffff;
            border-radius: 5px;
        }
    
        .btn_red {
            background-color: rgb(201, 14, 14) !important;
            padding: 8px 10px;
            color: #ffff;
            border-radius: 5px;
        }
    
        body {
            color: #000000;
            font-family: Sans-Serif;
            padding: 30px;
            background-color: #f6f6f6;
        }
    
        .abc {
            margin: 0rem !important;
        }
    
        a {
            text-decoration: none;
            color: #000000;
        }
    
        a:hover {
            color: #222222
        }
    
        /* Dropdown */
    
        .dropdown {
            display: inline-block;
            position: relative;
        }
    
        .dd-button {
            display: inline-block;
            border: 1px solid gray;
            border-radius: 4px;
            padding: 10px 30px 10px 20px;
            background-color: #ffffff;
            cursor: pointer;
            white-space: nowrap;
        }
    
        .dd-button:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid black;
        }
    
        .dd-button:hover {
            background-color: #eeeeee;
        }
    
    
        .dd-input {
            display: none;
        }
    
        .dd-menu {
            position: absolute;
            top: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0;
            margin: 2px 0 0 0;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            list-style-type: none;
        }
    
        .dd-input+.dd-menu {
            display: none;
        }
    
        .dd-input:checked+.dd-menu {
            display: block;
        }
    
        .dd-menu li {
            padding: 10px 20px;
            cursor: pointer;
            white-space: nowrap;
        }
    
        .dd-menu li:hover {
            background-color: #f6f6f6;
        }
    
        .dd-menu li a {
            display: block;
            margin: -10px -20px;
            padding: 10px 20px;
        }
    
        .dd-menu li.divider {
            padding: 0;
            border-bottom: 1px solid #cccccc;
        }
    </style>
    
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="animated fadeIn" [hidden]="isLoading">
        <div class="row">
    
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>LOGIN LIST
                        <button style="float:right" (click)="exportAsXLSX()">
                            <i class="fa fa-file-excel-o" style="font-size:30px;color:blue"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form> 
                                <div class="row">
                                    <div class="col-lg-3">
                                    <mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                      </mat-form-field>
                                    </div>
                                  <div class="col-lg-3">
                                    <mat-form-field color="primary">
                                      <mat-label>FROM (MM/DD/YYYY)</mat-label>
                                      <input matInput [matDatepicker]="picker1" [(ngModel)]="model.startdate" name="startdate">
                                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                      <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                  
                                  <div class="col-lg-3">
                                    <button class="btn btn-primary" (click)="getreport(model)">Get List</button>
                                  </div>
                                </div>
                              </form>
    
                            <table mat-table #table [dataSource]="dataSource" class="table table-striped responsive"
                                matSort>
                                <ng-container matColumnDef="date">
                                    <th *matHeaderCellDef mat-sort-header>APPLIED DATE</th>
                                    <td *matCellDef="let element" style="text-align:center;">
                                        {{element.logindate | date:'dd/MM/yyyy'}}
                                        <br />
    
                                    </td>
                                </ng-container>
    
                                
                                <!-- </div>  -->
                                <ng-container matColumnDef="cname">
                                    <th *matHeaderCellDef mat-sort-header>COMPANY NAME</th>
                                    <td *matCellDef="let element" style="text-align:center;"> {{element.cname}}<br />
    
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th *matHeaderCellDef mat-sort-header>CUSTOMER NAME</th>
                                    <td *matCellDef="let element" style="text-align:center;"> {{element.name}}<br />
    
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="whosecase">
                                    <th *matHeaderCellDef mat-sort-header>WHOSE CASE</th>
                                    <td *matCellDef="let element" style="text-align:center;"> {{element.whosecase}}<br />
    
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="executive">
                                    <th *matHeaderCellDef mat-sort-header>EXECUTIVE NAME</th>
                                    <td *matCellDef="let element" style="text-align:center;"> {{element.	executivename}}<br />
    
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="bname">
                                        <th *matHeaderCellDef mat-sort-header>BANK NAME</th>
                                        <td *matCellDef="let element" style="text-align:center;"> {{element.bankname}}<br />
        
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="bvendor">
                                            <th *matHeaderCellDef mat-sort-header>BANK VENDOR</th>
                                            <td *matCellDef="let element" style="text-align:center;"> {{element.bankvendor}}<br />
            
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="logexe">
                                                <th *matHeaderCellDef mat-sort-header>LOGIN executive</th>
                                                <td *matCellDef="let element" style="text-align:center;"> {{element.loginexename}}<br />
                
                                                </td>
                                            </ng-container>
                                        <ng-container matColumnDef="time">
                                                <th *matHeaderCellDef mat-sort-header>SENT TIME</th>
                                                <td *matCellDef="let element" style="text-align:center;"> {{element.timing}}<br />
                
                                                </td>
                                            </ng-container>
                                        
                                            <ng-container matColumnDef="status">
                                                    <th *matHeaderCellDef mat-sort-header>STATUS</th>
                                                    <td *matCellDef="let element" style="text-align:center;"> {{element.astatus}}<br />
                    
                                                    </td>
                                                </ng-container>
                                
                                 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                        <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
                            (page)="onChangedPage($event)"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    
        mat-spinner {
            margin: auto;
        }
    </style>