<mat-spinner *ngIf="isLoading">
</mat-spinner>
<div class="animated fadeIn" [hidden]="isLoading">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>CUSTOMER'S BANK LIST
                    <!-- <button style="float:right" (click)="exportAsXLSX()">
                <i class="fa fa-file-excel-o" style="font-size:30px;color:blue"></i>
            </button> -->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                        </mat-form-field>

                        <table mat-table #table [dataSource]="dataSource" class="table table-striped responsive" matSort>


                            <ng-container matColumnDef="bank">
                                <th *matHeaderCellDef mat-sort-header>BANK NAME</th>
                                <td *matCellDef="let element"> {{element.bankname}} </td>
                            </ng-container>
                            <ng-container matColumnDef="loantype">
                                <th *matHeaderCellDef mat-sort-header>LOAN TYPE</th>
                                <td *matCellDef="let element"> {{element.loantype}} </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th *matHeaderCellDef mat-sort-header>STATUS</th>
                                <td *matCellDef="let element"> {{element.sstatus}} </td>
                            </ng-container>

                            <ng-container matColumnDef="reject_reason">
                                <th *matHeaderCellDef mat-sort-header>REJECT REASON</th>
                                <td *matCellDef="let element"> {{element.areject_reason}} </td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th *matHeaderCellDef mat-sort-header>AMOUNT APPLIED</th>
                                <td *matCellDef="let element">{{element.aamount}}


                                </td>
                            </ng-container>
                            <ng-container matColumnDef="disbusamount">
                                <th *matHeaderCellDef mat-sort-header>AMOUNT DISBURSED</th>
                                <td *matCellDef="let element">{{element.disbusamount}}


                                </td>
                            </ng-container>
                            <ng-container matColumnDef="roi">
                                <th *matHeaderCellDef mat-sort-header>RATE OF INTREST</th>
                                <td *matCellDef="let element">{{element.roi}}


                                </td>
                            </ng-container>
                            <ng-container matColumnDef="pf">
                                <th *matHeaderCellDef mat-sort-header>PROCESSING FEE</th>
                                <td *matCellDef="let element">{{element.pf}}


                                </td>
                            </ng-container>
                            <ng-container matColumnDef="insurance">
                                <th *matHeaderCellDef mat-sort-header>INSURANCE</th>
                                <td *matCellDef="let element">{{element.insurance}}


                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
    
    mat-spinner {
        margin: auto;
    }
</style>