<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form (ngSubmit)="checkcase(model);" #f="ngForm" novalidate>
                <div class="card-header">
                    <strong>CHECK CASE AND DOWNLOAD</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <input class="form-control" name="checkno" [(ngModel)]="model.checkno" required #checkno="ngModel" placeholder="Mobile or Aadhaar or Pan Number or Company Name">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary ">Check</button>
                        </div>
                    </div>
                    <br />
                </div>
            </form>
            <!-- <form (ngSubmit)="f.form.valid && onSubmit(model);" #f="ngForm" novalidate> -->
            <div class="card-header">
                <strong>CUSTOMER DETAILS</strong>
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>CUSTOMER NAME</th>
                            <td> {{fetchData.name}}</td>
                            <th>COMPANY NAME</th>
                            <td> {{fetchData.cname}}</td>
                        </tr>
                        <tr>
                            <th> CONTACT NUMBER</th>
                            <td> {{fetchData.mobile}}</td>
                            <th>WHOSE CASE</th>
                            <td> {{fetchData.whosecase}}</td>
                        </tr>
                        <tr>
                            <th>EXECUTIVE</th>
                            <td>{{fetchData.executivename}}</td>
                            <th>AADHAR NO</th>
                            <td> {{fetchData.aadharno}}</td>
                        </tr>
                        <tr>
                            <th>PAN NO</th>
                            <td> {{fetchData.panno}}</td>
                            <th>LOAN STATUS</th>
                            <td> {{fetchData.displaystatus}}</td>
                        </tr>
                        <tr>
                            <th>COMPANY KYC</th>
                            <td> {{fetchData.companykyc_orgname}}</td>
                            <th>CUSTOMER KYC</th>
                            <td> {{fetchData.customerkyc_orgname}}</td>
                        </tr>
                        <tr>
                            <th>ITR</th>
                            <td> {{fetchData.itr_orgname}}</td>
                            <th>BANK STATEMENT</th>
                            <td> {{fetchData.bankstatement_orgname}}</td>
                        </tr>
                        <tr>
                            <th>GST RETURNS</th>
                            <td> {{fetchData. gstandreturns_orgname}}</td>
                            <th>LOAN SANCTION LETTER</th>
                            <td> {{fetchData.loanstatement_orgname}}</td>
                        </tr>
                        <tr>
                            <th>COMMENTS</th>
                            <td> {{fetchData.comment}}</td>
                            <th> Share Case</th>
                            <th><a *ngIf="fetchData.idcustomer!==''" class="nav-link badge-success" (click)="share(fetchData)" role="button">Share Case </a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-header">
                <strong>Download Files</strong>
            </div>
            <div class="card-body">
                <table class="table=responsive">
                    <tr>
                        <th class="text-center">COMPANY KYC</th>
                        <th class="text-center">CUSTOMER KYC</th>
                        <th class="text-center">BANK STATEMENT</th>
                        <th class="text-center">IT RETURNS</th>
                        <th class="text-center">GST RETURNS</th>
                        <th class="text-center">LOAN SANCTION LETTER</th>
                        <th class="text-center">APPLICATION DETAILS</th>
                    </tr>
                    <tr>
                        <td>
                            <a *ngIf="fetchData.companykyc === null || fetchData.companykyc === undefined; else comno; " class="nav-link badge-danger" role="button" title="COMPANY KYC NOT AVAILABLE ">NOT AVAILABLE </a>
                            <ng-template #comno>
                                <a *ngIf="fetchData.companykyc ==='admin.png'; else comyes; " class="nav-link badge-danger" role="button" title="COMPANY KYC NOT AVAILABLE ">NOT AVAILABLE </a>
                            </ng-template>
                            <ng-template #comyes>
                                <a class="nav-link badge-success" href="https://mindfin-files.oss-ap-south-1.aliyuncs.com/{{fetchData.companykyc}}" role="button" title="COMPANY KYC">DOWNLOAD AVAILABLE </a>
                            </ng-template>
                        </td>
                        <td>
                            <a *ngIf="fetchData.customerkyc ===null || fetchData.customerkyc === undefined; else cusno; " class="nav-link badge-danger" role="button" title="CUSTOMER KYC NOT AVAILABLE ">NOT AVAILABLE</a>
                            <ng-template #cusno>
                                <a *ngIf="fetchData.customerkyc ==='admin.png'; else cusyes;" class="nav-link badge-danger" role="button" title="CUSTOMER KYC NOT AVAILABLE ">NOT AVAILABLE </a>
                            </ng-template>
                            <ng-template #cusyes>
                                <a class="nav-link badge-success" href="https://mindfin-files.oss-ap-south-1.aliyuncs.com/{{fetchData.companykyc}}" role="button" title="CUSTOMER KYC">DOWNLOAD AVAILABLE </a>
                            </ng-template>
                        </td>
                        <td>
                            <a *ngIf="fetchData.bankstatement === null || fetchData.bankstatement === undefined; else bstno; " class="nav-link badge-danger" role="button" title="BANK STATEMENT NOT AVAILABLE ">NOT AVAILABLE </a>
                            <ng-template #bstno>
                                <a *ngIf="fetchData.bankstatement ==='admin.png'; else bstyes; " class="nav-link badge-danger" role="button" title="BANK STATEMENT NOT AVAILABLE ">NOT AVAILABLE
                                </a>
                            </ng-template>
                            <ng-template #bstyes>
                                <a class="nav-link badge-success" href="https://mindfin-files.oss-ap-south-1.aliyuncs.com/{{fetchData.companykyc}}" role="button" title="BANK STATEMENT">DOWNLOAD AVAILABLE </a>
                            </ng-template>
                        </td>
                        <td>
                            <a *ngIf="fetchData.itr === null || fetchData.itr === undefined; else itrno; " class="nav-link badge-danger" role="button" title="IT RETURNS NOT AVAILABLE ">NOT AVAILABLE </a>
                            <ng-template #itrno>
                                <a *ngIf="fetchData.itr ==='admin.png'; else itryes; " class="nav-link badge-danger" role="button" title="IT RETURNS NOT AVAILABLE ">NOT AVAILABLE </a>
                            </ng-template>
                            <ng-template #itryes>
                                <a class="nav-link badge-success" href="https://mindfin-files.oss-ap-south-1.aliyuncs.com/{{fetchData.companykyc}}" role="button" title="IT RETURNS">DOWNLOAD AVAILABLE</a>
                            </ng-template>
                        </td>
                        <td>
                            <a *ngIf="fetchData.gstandreturns ===null || fetchData.gstandreturns === undefined; else gstno; " class="nav-link badge-danger" role="button" title="GST RETURNS NOT AVAILABLE ">NOT AVAILABLE </a>
                            <ng-template #gstno>
                                <a *ngIf="fetchData.gstandreturns ==='admin.png'; else gstyes;" class="nav-link badge-danger" role="button" title="GST RETURNS NOT AVAILABLE ">NOT AVAILABLE </a>
                            </ng-template>
                            <ng-template #gstyes>
                                <a class="nav-link badge-success" href="https://mindfin-files.oss-ap-south-1.aliyuncs.com/{{fetchData.companykyc}}" role="button" title="GST RETURNS">DOWNLOAD AVAILABLE </a>
                            </ng-template>
                        </td>
                        <td>
                            <a *ngIf="fetchData.loanstatement ===null || fetchData.loanstatement === undefined; else loanno; " class="nav-link badge-danger" role="button" title="LOAN SANCTION LETTER NOT AVAILABLE ">NOT AVAILABLE
                                Letter</a>
                            <ng-template #loanno>
                                <a *ngIf="fetchData.loanstatement ==='admin.png'; else loanyes; " class="nav-link badge-danger" role="button" title="LOAN SANCTION LETTER NOT AVAILABLE">Not
                                    Available</a>
                            </ng-template>
                            <ng-template #loanyes>
                                <a class="nav-link badge-success" href="https://mindfin-files.oss-ap-south-1.aliyuncs.com/{{fetchData.companykyc}}" role="button" title="LOAN SANCTION LETTER">DOWNLOAD AVAILABLE</a>
                            </ng-template>
                        </td>
                        <td>
                            <a *ngIf="fetchData.applicationDetails ===null || fetchData.applicationDetails === undefined; else appno; " class="nav-link badge-danger" role="button" title="CUSTOMER DETAILS NOT AVAILABLE ">NOT AVAILABLE</a>
                            <ng-template #appno>
                                <a *ngIf="fetchData.applicationDetails ==='admin.png'; else appyes; " class="nav-link badge-danger" role="button" title="CUSTOMER DETAILS NOT AVAILABLE ">Not
                                    Available</a>
                            </ng-template>
                            <ng-template #appyes>
                                <a class="nav-link badge-success" href="https://mindfin-files.oss-ap-south-1.aliyuncs.com/{{fetchData.companykyc}}" role="button" title="CUSTOMER  DETAILS">DOWNLOAD AVAILABLE </a>
                            </ng-template>
                        </td>

                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
    
    mat-spinner {
        margin: auto;
    }
</style>