<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form (ngSubmit)="checkcase(model);" #f="ngForm" novalidate>
                <div class="card-header">
                    <strong>CHECK CASE AND DOWNLOAD</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <input class="form-control" name="checkno" [(ngModel)]="model.checkno" required #checkno="ngModel" placeholder="Mobile or Aadhaar or Pan Number or Company Name">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary ">Check</button>
                        </div>
                    </div>
                    <br />
                </div>
            </form>
            <!-- <form (ngSubmit)="f.form.valid && onSubmit(model);" #f="ngForm" novalidate> -->
            <div class="card-header">
                <strong>CUSTOMER DETAILS</strong>
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>CUSTOMER NAME</th>
                            <td> {{fetchData.name}}</td>
                            <th>COMPANY NAME</th>
                            <td> {{fetchData.cname}}</td>
                        </tr>
                        <tr>
                            <th> CONTACT NUMBER</th>
                            <td> {{fetchData.mobile}}</td>
                            <th>WHOSE CASE</th>
                            <td> {{fetchData.whosecase}}</td>
                        </tr>
                        <tr>
                            <th>EXECUTIVE</th>
                            <td>{{fetchData.executivename}}</td>
                            <th>AADHAR NO</th>
                            <td> {{fetchData.aadharno}}</td>
                        </tr>
                        <tr>
                            <th>PAN NO</th>
                            <td> {{fetchData.panno}}</td>
                            <th>LOAN STATUS</th>
                            <td> {{fetchData.displaystatus}}</td>
                        </tr>
                        <tr>
                            <th>COMPANY KYC</th>
                            <td> {{fetchData.companykyc_orgname}}</td>
                            <th>CUSTOMER KYC</th>
                            <td> {{fetchData.customerkyc_orgname}}</td>
                        </tr>
                        <tr>
                            <th>ITR</th>
                            <td> {{fetchData.itr_orgname}}</td>
                            <th>BANK STATEMENT</th>
                            <td> {{fetchData.bankstatement_orgname}}</td>
                        </tr>
                        <tr>
                            <th>GST RETURNS</th>
                            <td> {{fetchData. gstandreturns_orgname}}</td>
                            <th>LOAN SANCTION LETTER</th>
                            <td> {{fetchData.loanstatement_orgname}}</td>
                        </tr>
                        <tr>
                            <th>COMMENTS</th>
                            <td> {{fetchData.comment}}</td>
                            <th class="badge-danger"> File Not Available</th>
                            <th class="badge-success">Available</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-header">
                <strong>Download Files</strong>
            </div>
            <div class="card-body">
                <table class="table=responsive">
                    <tr>
                        <th>COMPANY KYC</th>
                        <th>CUSTOMER KYC</th>
                        <th>BANK STATEMENT</th>
                        <th>IT RETURNS</th>
                        <th>GST RETURNS</th>
                        <th>LOAN SANCTION LETTER</th>
                        <th>APPLICATION DETAILS</th>
                    </tr>
                    <tr>
                        <td>
                            <a *ngIf="fetchData.companykyc ==='admin.png'" class="nav-link badge-danger" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.companykyc}}" role="button" title="COMPANY KYC">Company KYC </a>
                            <a *ngIf="fetchData.companykyc !=='admin.png'" class="nav-link badge-success" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.companykyc}}" role="button" title="COMPANY KYC">Company KYC </a>
                        </td>
                        <td>
                            <a *ngIf="fetchData.customerkyc ==='admin.png'" class="nav-link badge-danger" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.customerkyc}}" role="button" title="CUSTOMER KYC">Customer KYC </a>
                            <a *ngIf="fetchData.customerkyc !=='admin.png'" class="nav-link badge-success" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.customerkyc}}" role="button" title="CUSTOMER KYC">Customer KYC </a>
                        </td>
                        <td>
                            <a *ngIf="fetchData.bankstatement ==='admin.png'" class="nav-link badge-danger" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.bankstatement}}" role="button" title="BANK STATEMENT">Bank Statement </a>
                            <a *ngIf="fetchData.bankstatement !=='admin.png'" class="nav-link badge-success" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.bankstatement}}" role="button" title="BANK STATEMENT">Bank Statement </a>
                        </td>
                        <td>
                            <a *ngIf="fetchData.itr ==='admin.png'" class="nav-link badge-danger" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.itr}}" role="button" title="IT RETURNS">IT Returns </a>
                            <a *ngIf="fetchData.itr !=='admin.png'" class="nav-link badge-success" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.itr}}" role="button" title="IT RETURNS">IT Returns </a>
                        </td>
                        <td>
                            <a *ngIf="fetchData.gstandreturns ==='admin.png'" class="nav-link badge-danger" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.gstandreturns}}" role="button" title="GST RETURNS">GST Returns </a>
                            <a *ngIf="fetchData.gstandreturns !=='admin.png'" class="nav-link badge-success" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.gstandreturns}}" role="button" title="GST RETURNS">GST Returns </a>
                        </td>
                        <td>
                            <a *ngIf="fetchData.loanstatement ==='admin.png'" class="nav-link badge-danger" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.loanstatement}}" role="button" title="LOAN SANCTION LETTER">Loan Sanction Letter</a>
                            <a *ngIf="fetchData.loanstatement !=='admin.png'" class="nav-link badge-success" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.loanstatement}}" role="button" title="LOAN SANCTION LETTER">Loan Sanction Letter</a>
                        </td>
                        <td>
                            <a *ngIf="fetchData.applicationDetails ==='admin.png'" class="nav-link badge-danger" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.applicationDetails}}" role="button" title="CUSTOMER APPLICATION DETAILS">Customer Application Details</a>
                            <a *ngIf="fetchData.applicationDetails !=='admin.png'" class="nav-link badge-success" href="http://mindfin.oss-ap-south-1.aliyuncs.com/{{fetchData.applicationDetails}}" role="button" title="CUSTOMER APPLICATION DETAILS">Customer Application Details</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
    
    mat-spinner {
        margin: auto;
    }
</style>